<div class="browser-wrapper">
  <h3 class="page-title">SUMMARY: <%= @parsed_report_date %> : <%= @report_territory %></h3>

  <div class="order-info">
    <h2 class="customer-header">TOTAL MEALS: <%= @total_meals %></h2>
  </div>
  <hr/>
  <div class="order-info">
    <h2 class="customer-header">TOTAL DELIVERY FEES: $<%= '%.2f' % @total_delivery_fees.round(2) %></h2>
    <h2 class="customer-header">TOTAL TAX COLLECTED: $<%= '%.2f' % @total_tax_collected.round(2) %></h2>
    <h2 class="customer-header">TOTAL TIPS: $<%= '%.2f' % @total_tip_received.round(2) %></h2>
    <h2 class="customer-header">TOTAL NUMBER TIPS: <%= @total_tip_count %></h2>
    <h2 class="customer-header">PRODUCT REVENUE: $<%= '%.2f' % @total_product_revenue.round(2) %></h2>
  </div>
  <hr/>
  <div class="order-info">
    <h2 class="customer-header">CREDIT AMOUNT COLLECTED: $<%= '%.2f' % @total_credit_collected.round(2) %></h2>
    <h2 class="customer-header">GIFTCARD AMOUNT COLLECTED: $<%= '%.2f' % @total_gift_collected.round(2) %></h2>
    <h2 class="customer-header">TOTAL AMOUNT COLLECTED: $<%= '%.2f' % @total_collected.round(2) %></h2>
  </div>
  <hr/>
  <div class="order-info">
    <h2 class="customer-header">CREDIT DISCOUNT: $<%= '%.2f' % @total_credit_discount.round(2) %></h2>
    <h2 class="customer-header">GIFTCARD DISCOUNT: $<%= '%.2f' % @total_giftcard_discount.round(2) %></h2>
    <h2 class="customer-header">TOTAL DISCOUNT: $<%= '%.2f' % @total_discount.round(2) %></h2>
  </div>
  <hr/>
  <div class="order-info">
    <h2 class="customer-header">TOTAL DELIVERY ORDERS: <%= @total_delivery_count %></h2>
    <h2 class="customer-header">TOTAL SHIPPING ORDERS: <%= @total_shipping_count %></h2>
    <h2 class="customer-header">TOTAL PICKUP ORDERS: <%= @total_pickup_count %></h2>
  </div>
  <hr/>
  <div class="order-info">
    <h2 class="customer-header">NUMBER OF CREDIT MEALS: <%= @total_credit_meals %></h2>
    <h2 class="customer-header">NUMBER OF GIFTCARD MEALS: <%= @total_gift_meals %></h2>
  </div>
  <hr/>
  <div class="order-info">
    <h2 class="customer-header">TOTAL REFUNDED ORDERS: <%= @total_refunded_orders %></h2>
    <h2 class="customer-header">TOTAL REFUNDED MEALS: <%= @total_refunded_meals %></h2>
    <h2 class="customer-header">TOTAL REFUNDED AMOUNT: $<%= '%.2f' %  @total_refunded_amount.round(2) %></h2>
  </div>
</div>
